export(LexisNexisSource, LexisNexisAdvanceSource, readLexisNexisHTML, readLexisNexisAdvance)
S3method(getElem, LexisNexisSource)
S3method(getElem, LexisNexisAdvanceSource)
importFrom(utils, data, head, tail)
importFrom(textreadr, read_docx)
import(ISOcodes)
import(xml2)
importFrom(NLP, meta, "meta<-")
importFrom(tm, getElem, FunctionGenerator, PlainTextDocument, SimpleSource)
importFrom(digest, digest)
