export(LexisNexisSource, readLexisNexisHTML)
S3method(getElem, LexisNexisSource)
importFrom(utils, data, tail)
import(ISOcodes)
import(xml2)
importFrom(NLP, meta, "meta<-")
importFrom(tm, getElem, FunctionGenerator, PlainTextDocument, SimpleSource)
